* {
  margin: 0 px;
  padding: 0 px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
  height: 80px;
}

.trybewarts-header-logo {
  width: 60px;
  margin-left: 20px;
}

.trybewarts-login {
  display: flex;
  justify-content: space-around;
  width: 400px;
}

.form-input {
  border-radius: 5px;
  width: 120px;
  height: 30px;
  border: 0 px;
}

.btn-entrar {
  background-color: blueviolet;
  color: white;
}

#trybewarts-header-title {
  color: white;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#label-family {
  display: flex;
  flex-direction: column;
}

/* Ajustando o item 11 */
#emailCasa {
  display: flex;
}

#rate {
  display: flex;
}
