* {
  margin: 0 px;
  padding: 0 px;
}

body {
  background-color: rgb(240, 240, 240);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
  height: 80px;
}

.trybewarts-header-logo {
  width: 60px;
  margin-left: 20px;
}

.trybewarts-login {
  display: flex;
  justify-content: space-around;
  width: 400px;
}

.form-input {
  border-radius: 5px;
  width: 120px;
  height: 30px;
  border: 0;
}

.btn-entrar {
  background-color: blueviolet;
  color: white;
  border: 0 px;
}

#trybewarts-header-title {
  color: white;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  margin-left: 50px;
}

#trybewarts-forms-logo {
  height: 500px;
}


.input-name-lastname {
  margin-top: 15px;
  display: flex;
  width: 600px;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content-child {
  width: 49%;
  border-radius: 5px;
  height: 30px;
  border: 0;
}

#house {
  width: 33%;
}

.family-checkbox {
  display: flex;
}

#label-family {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 150px;
  line-height: 30px;
}

#label-content {
  width: 50%;
  height: 150px;
  line-height: 30px;
}

.family-input {
  display: flex;
  flex-direction: row;
}

.textarea {
  margin-top: 15px;
}

textarea {
  width: 90%;
  margin-bottom: 15px;
}

#submit-btn {
  margin-top: 15px;
  width: 90%;
  background-color: blueviolet;
  color: white;
  border: 0 px;
}

footer {
  color: white;
  background-color: rgb(85, 83, 83);
  height: 40px;
  text-align: center;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
